.grid-container
{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div
{
  background-color: rgba(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1
{
  grid-column: 1 / 5;
}
input
{
  text-align: right;
}
.b1
{
  border: none;
  background-color: white;
  transition: 0.5s;
}
